@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body{
  font-family: 'Roboto', sans-serif!important;
  background: #222;
  display: grid;
  grid-gap: 3.5rem;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: #039be5;
}

.header{
  height: 40vh;
}

nav{
  background: transparent!important;
  box-shadow: none;
}

.heading{
  text-align: center;
  margin-top: 50px;
}

.heading h2{
  font-weight: 600;
  color: #fff;
}

.content{
  background: rgba(255,255,255,0.9);
  padding: 3rem;
  border-radius: 1rem;
}

.footer{
  border-top: 1px solid rgba(255,255,255,0.5);
  color: #fff;
    padding: 0.5rem;
}

.footer .row{
    margin-bottom: 0;
}

.footer .logo{
    padding: 1rem;
}

address{
    padding: 1rem;
    font-style: normal;
}

.footer .boom{
  text-align: center!important;
}

.footer .social-media{
  text-align: center;
  margin-top: 1rem;
    padding: 1rem;
}

.footer .social-media a{
  padding-right: 1rem;
  color: #fff;
}
